*{
    padding: 10px;
    background-color: black;
}
.various{
    margin-left: 3px;
    width: 235px;
    height: 210px; 
}
.various:hover{
    transform: scale(1.1);
}
.row-1{
    margin: auto;
    align-items: center;
 
}
h2{
    text-align: center;
    color: white;
}
